<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1>Blog posts by <%= @user.name %></h1>
    </div>
  </div>
  
  <% @articles.each do |article| %>
    <h2><%= article.title %> <small><%= time_ago_in_words(article.created_at) %> ago</small></h2>
    <p><%= article.preview %> <%= link_to 'Read more', '#' %></p>
  <% end %>
  
</div>

